[Desktop Entry]
Name=Quick Torrent Maker 2
Comment=Upload Content to GT
Exec=/usr/local/bin/qtm2
Icon=qtm2
Terminal=false
Type=Application
Categories=Utility;