name: Release

permissions:
  contents: write

on:
  release:
    types: [created]

jobs:
  release:
    name: Upload Release
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - name: Install linux dependencies
        run: sudo apt-get install libatk1.0-0 libgtk-3-dev
        if: ${{ matrix.os == 'ubuntu-latest'}}
      - name: Build and release
        uses: taiki-e/upload-rust-binary-action@v1
        with:
          bin: qtm2
          token: ${{ secrets.GITHUB_TOKEN }}
          include: README.md,LICENSE.md
