name: Release

permissions:
  contents: write

on:
  release:
    types: [created]

jobs:
  release:
    name: release ${{ matrix.target }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - target: x86_64-pc-windows-gnu
            archive: zip
          - target: x86_64-unknown-linux-gnu
            archive: tar.gz tar.xz tar.zst
          - target: x86_64-apple-darwin
            archive: zip
    steps:
      - uses: actions/checkout@v3
      - name: Install linux dependencies
        run: sudo apt-get install libatk1.0-0 libgtk-3-dev
        if: ${{ matrix.target == 'x86_64-unknown-linux-gnu'}}
      - name: Compile and release
        uses: taiki-e/upload-rust-binary-action@v1
        with:
          bin: qtm2,
          token: ${{ secrets.GITHUB_TOKEN }},
          target: ${{ matrix.target }},
          include: README.md,LICENSE.md
